@model IEnumerable<Booking.Core.Entities.GymClass>

@{
    ViewData["Title"] = "Index2";
}

<h1>Welcome to The GrymGym</h1>


<h2>Our Classes</h2>
<h3>Spnning Hard</h3>
<h3>Spnning Beginner</h3>
<h3>Spnning Pro</h3>

